<html>
<header>
    <meta charset="UTF-8">
    <style>
        @import url("../../css/element-ui/theme-chalk-index.css");
        html,body,#app,.el-container{
            /*设置内部填充为0，几个布局元素之间没有间距*/
            padding: 0;
            /*外部间距也是如此设置*/
            margin: 0;
            /*统一设置高度为100%*/
            height: 100%;
        }
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
        .text {
            font-size: 14px;
        }

        .item {
            padding: 18px 0;
        }
        .el-select .el-input {
            width: 130px;
        }
        .input-with-select .el-input-group__prepend {
            background-color: #fff;
        }
    </style>
</header>
<body style="margin: 0 0">
<script src="../../js/vue/vue.js"></script>
<script src="../../js/vue/element-ui-index.js"></script>
<script src="../../js/video-player/EasyWasmPlayer.js"></script>
<script src="../../js/axios/axios.min.js"></script>
<div id="app">
    <el-container style="border: 1px solid #eee">
        <el-header style="text-align: center; font-size: 20px">
            使能平台转码测试页
        </el-header>
        <el-container>
            <el-aside width="300px">
                <el-table
                        ref="singleTable"
                        :data="tableData"
                        highlight-current-row
                        @current-change="handleCurrentChange"
                        style="width: 100%">
                    <el-table-column
                            type="index"
                            width="50">
                    </el-table-column>
                    <el-table-column
                            property="cameraName"
                            label="摄像机列表"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="devStatus"
                            label="状态"
                            width="60">
                        <template slot-scope="scope">
                            <span>{{ map[scope.row.devStatus] }}</span>
                        </template>
                    </el-table-column>
                </el-table>
            </el-aside>
            <el-container>
                <el-main>
                    <el-input placeholder="请输入视频播放地址" clearable  v-model="streamUrl" class="input-with-select">
                        <el-select v-model="urlType" slot="prepend" placeholder="请选择">
                            <el-option label="flv" value="1"></el-option>
                            <el-option label="hls" value="2"></el-option>
                            <el-option label="rtmp" value="3"></el-option>
                        </el-select>
                        <el-button slot="append" icon="el-icon-video-play" @click="play()">播放</el-button>
                    </el-input>
                    <el-card class="box-card">
                        <div style="width:80%;height:60%;background-color:black;margin: 0 auto">
                            <div id="Player"></div>
                        </div>
                    </el-card>
                    <template>
                        <span><i>视频流转码模板选择: </i></span>
                    <el-select size="medium" v-model="templetId" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.templateName"
                                :label="item.templateName"
                                :value="item.templateId">
                        </el-option>
                    </el-select>
                    </template>
                </el-main>
                <el-footer style="text-align: center;"> Copyright © 2014 - 2019 Allcam. All Rights Reserved. 南京奥看信息科技 版权所有 </el-footer>
            </el-container>
        </el-container>
    </el-container>
</div>
</body>
<script>

    let vue = new Vue({
        el:'#app',
        data:{
            streamUrl:'',
            tableData: [{
                cameraName: '2016-05-02',
                devStatus:"1",
                isExDomain:1
            }],
            templetId:'',
            currentRow: null,
            options: [{
                templateId: '000001',
                templateName: '视频直播透传'
            }],
            map : {
                '0': '离线',
                '1': '在线',
            },
            urlType:'1'
        },
        created() {
          this.getCameraList();
          this.getTempletList();
        },
        methods: {
            play() {
                let Player = new WasmPlayer(null,'Player',vue.callbackFun,{cbUserPtr:this, decodeType:"auto", openAudio:1, BigPlay:false, Height:true});
                Player.play(vue.streamUrl,1);
            },
            callbackFun(e) {
                console.log(e);
            },
            handleCurrentChange(val) {
               this.getStreamUrl(val);
            },
            getTempletList() {
                axios({
                    method:'post',
                    url: '/api/transcode/templateList',
                    data: {templateType:1},
                    responseType: 'json'
                }).then(response => {
                    this.options = response.transcodeTempletList;
                }).catch(error => {
                    console.log(error);
                })
            },
            getCameraList() {
                axios({
                        method: 'post',
                        url: '/api/dev/list',
                        // 传递参数
                        data: {},
                        responseType: 'json'
                    }).then(response => {
                        this.tableData = response.devList;
                }).catch(error => {
                    console.log(error);
                })
            },
            getStreamUrl(cameraInfo) {
                let request = {
                    cameraId:cameraInfo.cameraId,
                    clientType:cameraInfo.isExDomain === 1 ? 5:1,
                    templetId:this.templetId,
                    urlType:this.urlType
                }
                axios({
                    method: 'post',
                    url: '/api/media/live',
                    data: request,
                    responseType: 'json'
                }).then(response => {
                    this.streamUrl = response.url;
                    if(response.resultCode === 0)
                    {
                        this.play();
                    }
                }).catch(error => {
                    console.log(error)
                })
            }
        }
    })
</script>

</html>